<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Portofolio</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Portofolio</li>
      </ol>
    </div>

    <div class="row mb-3">
      <!-- Earnings (Monthly) Card Example -->
      

      <!-- Area Chart -->
     
      <div class="col-xl-9 col-lg-9 ">
        <div class="card mb-4 p-4">
            
         <div class="col-md-12 col-xs-12 row card-column">
             <div class="col-md-4 col-xs-4 ">
                 <div class="d-flex flex-row">
                    <i class="fab fa-confluence  text-white" style="background-color:#3f51b5!important"></i>
                    <p>ETHERNET </p>
                    
                </div>
             </div>
             <div class="col-md-4 col-xs-4 ">
                <div class="d-flex flex-row">
                    <i class="fa fa-align-right text-success"></i>
                   <h4>$168,331,09 </h4>
                   
               </div>
            </div>
            <div class="col-md-4 col-xs-4 ">
                <div class="d-flex flex-row">
                    <i class="fa fa-sort-amount-up text-success"></i>
                   <span class="text-success mt-2">45% </span>
                   <span class="text-gray-500 mt-2">THIS WEEK</span>
                   
               </div>
            </div>
            </div>
            <div class="col-md-12 col-xs-12 row card-column">
                <div class="col-md-4 col-xs-4 ">
                    <div class="d-flex flex-row">
                       <i class="fab fa-bitcoin  text-white" style="background-color:#19ac6f!important"></i>
                       <p>BITCOIN </p>
                       
                   </div>
                </div>
                <div class="col-md-4 col-xs-4 ">
                   <div class="d-flex flex-row">
                       <i class="fa fa-align-left text-danger"></i>
                      <h4>$168,331,09 </h4>
                      
                  </div>
               </div>
               <div class="col-md-4 col-xs-4 ">
                   <div class="d-flex flex-row">
                       <i class="fa fa-sort-amount-down text-danger"></i>
                      <span class="text-danger mt-2">25% </span>
                      <span class="text-gray-500 mt-2">THIS WEEK</span>
                      
                  </div>
               </div>
               </div>
               <div class="col-md-12 col-xs-12 row card-column">
                <div class="col-md-4 col-xs-4 ">
                    <div class="d-flex flex-row">
                       <i class="fab fa-magento  text-white" style="background-color:#f16813!important"></i>
                       <p>mongonic </p>
                       
                   </div>
                </div>
                <div class="col-md-4 col-xs-4 ">
                   <div class="d-flex flex-row">
                       <i class="fa fa-align-left text-danger"></i>
                      <h4>$168,331,09 </h4>
                      
                  </div>
               </div>
               <div class="col-md-4 col-xs-4 ">
                   <div class="d-flex flex-row">
                       <i class="fa fa-sort-amount-down text-danger"></i>
                      <span class="text-danger mt-2">20% </span>
                      <span class="text-gray-500 mt-2">THIS WEEK</span>
                      
                  </div>
               </div>
               </div>
               <div class="col-md-12 col-xs-12 row card-column">
                <div class="col-md-4 col-xs-4 ">
                    <div class="d-flex flex-row">
                       <i class="fab fa-confluence  text-white" style="background-color:#3f51b5!important"></i>
                       <p>ETHERNET </p>
                       
                   </div>
                </div>
                <div class="col-md-4 col-xs-4 ">
                   <div class="d-flex flex-row">
                       <i class="fa fa-align-right text-success"></i>
                      <h4>$168,331,09 </h4>
                      
                  </div>
               </div>
               <div class="col-md-4 col-xs-4 ">
                   <div class="d-flex flex-row">
                       <i class="fa fa-sort-amount-up text-success"></i>
                      <span class="text-success mt-2">45% </span>
                      <span class="text-gray-500 mt-2">THIS WEEK</span>
                      
                  </div>
               </div>
               </div>

         </div>
         
        </div>
     
      <div class="col-xl-3 col-lg-3">
        <div class="card mb-4">
            <div class="header">
            <span class="text-gray-600">My Profile</span>
            <i class="fa fa-ellipsis-v float-right"></i>
        
         </div>
         <div class="body">
             <img src="../../assets/images/profile.png"  class = "img-responsive">
             <h6>William Fancyson</h6>
             <span>@williamfancyson</span>
             <p>Join in 24 March 2017</p>
             <span>this is my first acount jfjfjknmv nvgnv nm vm,vmkfmjk</span>
             <div class="d-flex flex-row justify-content-center social">
                <i class="fab fa-mobile bg-primary text-white"></i>
                <i class="fab fa-sms bg-primary text-white"></i>
                <i class="fab fa-facebook  bg-primary text-white"></i>
             </div>

         </div>
        </div>
      </div>
     
      <!-- Pie Chart -->
     
      <!-- Invoice Example -->
      <div class="col-xl-6 col-lg-6 mb-4">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Recent Trading Activities</h6>
            <ul class="float-right   navbar-nav flex-row table-nav "> 
                <li class="nav-item">Monthly</li>
                <li class="nav-item">Weekly</li>
                <li class="nav-item"> Today</li>
            </ul>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
               
              </thead>
              <tbody>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-success fa fa-sort-alpha-down"></i></a></td>
                  <td><i class="fab fa-blogger text-warning"></i> &nbsp; Biticon</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn btn-outline-success btn-sm text-success " style="border-radius:20px">Completed</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-danger fa fa-sort-alpha-up"></i></a></td>
                  <td><i class="fa fa-sort text-primary"></i> &nbsp; Ethereum</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn  btn-sm bg-gray-500 text-white" style="border-radius:20px">pending</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-danger fa fa-sort-alpha-up"></i></a></td>
                  <td><i class="fab fa-maxcdn  text-warning"></i> &nbsp; Monero</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn  btn-sm text-danger btn-outline-danger " style="border-radius:20px">Canceling</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-success fa fa-sort-alpha-down"></i></a></td>
                  <td><i class="fa fa-pound-sign text-warning"></i> &nbsp; Litcoin</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn btn-outline-success btn-sm text-success " style="border-radius:20px">Completed</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-success fa fa-sort-alpha-down"></i></a></td>
                  <td><i class="fa fa-pound-sign text-warning"></i> &nbsp; Bitcoin</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn btn-outline-success btn-sm text-success " style="border-radius:20px">Completed</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-danger fa fa-sort-alpha-up"></i></a></td>
                  <td><i class="fab fa-magento text-warning"></i> &nbsp; Ethereum</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn  btn-sm text-danger btn-outline-danger " style="border-radius:20px">pending</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer"></div>
        </div>
        <div class="col-lg-12 mt-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-gray-1000">Current Graphic</span>
                <i class="fa fa-ellipsis-v float-right"></i>
              </div>
              <div class="card-body">
                <div id='barchart' class="col-md-12"><!-- Plotly chart will be drawn inside this DIV --></div>
             
              </div>
            </div>
          </div>
      </div>
      <!-- Message From Customer-->
      
    <div class="col-md-6 col-lg-6 ">
    
         <div class="row">
           
             <div class="col-md-12 col-xs-12 card p-4" >
                <span class="m-0 font-weight-bold text-gray-1000">sumarry  weekly</span>
              
                 <div id="myDiv"></div>
             </div>
          <!-- Bar Chart -->

  <!-- Donut Chart -->
    <!-- Donut Chart -->
   <div class="col-lg-12 card mt-4">
    
      <div class="card-header py-3">
        <span class="m-0 font-weight-bold text-gray-1000">Current Graphic</span>
        <i class="fa fa-ellipsis-v float-right"></i>
      </div>
      <div class="card-body">
        <div class="chart-pie pt-4">
          <canvas id="myPieChart"></canvas>
        </div>
       
     
    </div>
  </div>
      

     </div>
    </div>
   
    </div>
    <!--Row-->

 
    <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <a href="login.html" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </div>