<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Wallet</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wallet</li>
      </ol>
    </div>

    <div class="row mb-3">
      <!-- Earnings (Monthly) Card Example -->
      

      <!-- Area Chart -->
      <div class="col-xl-3 col-lg-3">
          <div class="card mb-4 walletcard">
              <div class="col-xl-12 col-md-12 mb-12 walletcarddiv ">
                  <div class="card h-100">
                    <div class="card-body bg-success border-1">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">main Balance</div>
                          <div class="h5 mb-0 mr-3 font-weight-bold text-white">22.466.24</div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                            <span class=" mr-2 text-white"> VALD THRU</span>
                            <span class="text-white">CARD HAND</span>
                          </div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                              <span class=" mr-2 text-white"> 8|10</span>
                              <span class="text-white">WILLIAM FANCACY</span>
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class=" fab fa-shopware fa-2x text-white"></i>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-md-12 mb-12 walletcarddiv ">
                  <div class="card h-100">
                    <div class="card-body bg-primary border-1">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">main Balance</div>
                          <div class="h5 mb-0 mr-3 font-weight-bold text-white">$67.876.32</div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                            <span class=" mr-2 text-white"> VALD THRU</span>
                            <span class="text-white">CARD HAND</span>
                          </div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                              <span class=" mr-2 text-white"> 8|10</span>
                              <span class="text-white">WILLIAM FANCACY</span>
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class=" fab fa-shopware fa-2x text-white"></i>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-md-12 mb-12  walletcarddiv">
                  <div class="card h-100">
                    <div class="card-body bg-purpple ">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">main Balance</div>
                          <div class="h5 mb-0 mr-3 font-weight-bold text-white">240.56</div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                            <span class=" mr-2 text-white"> VALD THRU</span>
                            <span class="text-white">CARD HAND</span>
                          </div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                              <span class=" mr-2 text-white"> 8|10</span>
                              <span class="text-white">WILLIAM FANCACY</span>
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class="fab fa-bitcoin fa-2x text-white"></i>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-md-12 mb-12 walletcarddiv ">
                  <div class="card h-100">
                    <div class="card-body bg-orange border-1">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">main Balance</div>
                          <div class="h5 mb-0 mr-3 font-weight-bold text-white">$6.786.25</div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                            <span class=" mr-2 text-white"> VALD THRU</span>
                            <span class="text-white">CARD HAND</span>
                          </div>
                          <div class="mt-2 mb-0 text-muted text-xs text-white">
                              <span class=" mr-2 text-white"> 8|10</span>
                              <span class="text-white">WILLIAM FANCACY</span>
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class=" fab fa-shopware fa-2x text-white"></i>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
           
          </div>
        </div>
      <div class="col-xl-9 col-lg-9">
        <div class="card mb-4">
            <div class="d-flex flex-row">
                <div class="col-xl-3 col-md-6 mb-4 ">
                    <div class="details">
                      <div class="text-gray-500">
                          Card Name
                      </div>
                      <div>
                          Main Balance
                      </div>
                  </div>
                  <div class="details">
                      <div class="text-gray-500">
                      Valid Data
                      </div>
                      <div>
                      08|21
                  </div>
                  </div>
                  <div class="details">
                      <div class="text-gray-500">
                          Card Number
                      </div>
                      <div>
                      **********21
                     </div>
                  </div>
                  

                </div>
                <div class="col-xl-3 col-md-6 mb-4 ">
                  <div class="details">
                    <div class="text-gray-500">
                        Bank Name
                    </div>
                    <div>
                       ABC Center Bank
                    </div>
                </div>
                <div class="details">
                    <div class="text-gray-500">
                      Card Holder
                    </div>
                    <div>
                   William Fancity
                </div>
                </div>
                <div class="details">
                    <div class="text-gray-500">
                        Card Themes   
                    </div>
                    <div class="d-flex flex-row walletcolor  ">
                      <div class="text-success"><i class="fa fa-circle"></i></div>
                      <div class="text-primary"><i class="fa fa-circle"></i></div>
                      <div class="text-warning"> <i class="fa fa-circle"></i></div>
                      <div class="text-danger"><i class="fa fa-circle"></i></div>
                   
                   </div>
                </div>
                

              </div>
                <!-- Earnings (Annual) Card Example -->
               
               
              <div class="col-xl-6 col-lg-6  progre">
                <h6 class="text-gray-500">Monthly Limit</h6>
                
                  <div class="row ">
                  
                      <div class="col-md-4 col-sm-6">
                          <div class="progress blue">
                              <span class="progress-left">
                                  <span class="progress-bar"></span>
                              </span>
                              <span class="progress-right">
                                  <span class="progress-bar"></span>
                              </span>
                              <div class="progress-value">90%</div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <div class="progress yellow">
                              <span class="progress-left">
                                  <span class="progress-bar"></span>
                              </span>
                              <span class="progress-right">
                                  <span class="progress-bar"></span>
                              </span>
                              <div class="progress-value">75%</div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <div class="progress pink">
                              <span class="progress-left">
                                  <span class="progress-bar"></span>
                              </span>
                              <span class="progress-right">
                                  <span class="progress-bar"></span>
                              </span>
                              <div class="progress-value">60%</div>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
          <div class="col-xl-12 col-lg-12">
              <div class="container"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="myChart" width="1536" height="1024" style="display: block; height: 512px; width: 768px;" class="chartjs-render-monitor"></canvas>
             </div>
            </div>
         
        </div>
      </div>
     
      <!-- Pie Chart -->
     
      <!-- Invoice Example -->
      <div class="col-xl-6 col-lg-6 mb-4">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Recent Trading Activities</h6>
            <ul class="float-right   navbar-nav flex-row table-nav "> 
                <li class="nav-item">Monthly</li>
                <li class="nav-item">Weekly</li>
                <li class="nav-item"> Today</li>
            </ul>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
               
              </thead>
              <tbody>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-success fa fa-sort-alpha-down"></i></a></td>
                  <td><i class="fab fa-blogger text-warning"></i> &nbsp; Biticon</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn btn-outline-success btn-sm text-success " style="border-radius:20px">Completed</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-danger fa fa-sort-alpha-up"></i></a></td>
                  <td><i class="fa fa-sort text-primary"></i> &nbsp; Ethereum</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn  btn-sm bg-gray-500 text-white" style="border-radius:20px">pending</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-danger fa fa-sort-alpha-up"></i></a></td>
                  <td><i class="fab fa-maxcdn  text-warning"></i> &nbsp; Monero</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn  btn-sm text-danger btn-outline-danger " style="border-radius:20px">Canceling</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-success fa fa-sort-alpha-down"></i></a></td>
                  <td><i class="fa fa-pound-sign text-warning"></i> &nbsp; Litcoin</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn btn-outline-success btn-sm text-success " style="border-radius:20px">Completed</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-success fa fa-sort-alpha-down"></i></a></td>
                  <td><i class="fa fa-pound-sign text-warning"></i> &nbsp; Bitcoin</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn btn-outline-success btn-sm text-success " style="border-radius:20px">Completed</a></td>
                </tr>
                <tr>
                  <td class="table-icon"><a href="#"><i class=" bg-danger fa fa-sort-alpha-up"></i></a></td>
                  <td><i class="fab fa-magento text-warning"></i> &nbsp; Ethereum</td>
                  <td>5:24:48 AM</td>
                  <td><span>+$5,553</span></td>
                  <td><a href="#" class="btn  btn-sm text-danger btn-outline-danger " style="border-radius:20px">pending</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <!-- Message From Customer-->
      
    <div class="col-md-6 col-lg-6 ">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Quick Transfer</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-text-width"></i> 23.511 ltc <i class="fa fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">12.5</a>
              <a class="dropdown-item" href="#">15.5</a>
              <a class="dropdown-item active" href="#">16.5</a>
            </div>
          </div>

        </div>
        <div class=" form-slider card-header align-items-center justify-content-between">
          <span class="form-sliderspan ">
            automatic

          </span>
          <span class="float-right">
            12.3|
          </span>

        </div>
        
        <div class="card-body ">
          <div>
            <span class="font-weight-bold">Recently Contact</span>
            <span class="float-right"> <a href="#">View More </a></span>
          </div>
          <owl-carousel-o [options]="customOptions" >
            <ng-container *ngFor="let i of  itemsimg" >
            <ng-template carouselSlide  >
              <div class="slide" >
                <img [src]="i.img"  >
                <div class="capition">
                  <h6>{{i.title}}</h6>
                  <span class="text-gray-500">{{i.subtitle}}</span>
              </div>
              </div>
            </ng-template>
            </ng-container>
            
          </owl-carousel-o>
          
        </div>
        <div class="card-footer slider-bottom ">
          <span class="text-gray-500">This lorm this is first project </span>
          <a class="m-0 small text-primary card-link float-right" href="#"><button class="btn btn-primary"> Transfer Now</button> 
          </a>
        </div>
      </div>
    </div>
   
    </div>
    <!--Row-->

  
    <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <a href="login.html" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </div>